<div class="home-container">
  <div class="home-search-container">
    <div class="home-banner-overlay"></div>
    <div class="home-banner"></div>
    <div class="wrapper form-inline">
      <h3>Support Item Catalog11111</h3>
      <h4>Search(Leave blank to see all items)</h4>
      <div class="form-group">
        <div class="input-group">
          <a href class="input-group-addon"><i class="fa fa-search"></i></a>
          <input type="text" class="search-input form-control" placeholder="Wheel chair">
        </div>
      </div>
    </div>
  </div>
</div>