<div class="home-container">
  <div class="search-results-search-container">
    <div class="wrapper form-inline">
      <form ng-submit="$state.go('search', {query: formData.searchQuery})">
        <div class="input-group">
          <span class="input-group-btn">
            <button type="submit"><i class="fa fa-search"></i></button>
          </span>
          <input type="text" ng-model="formData.searchQuery" class="search-input form-control" placeholder="">
        </div>
      </form>
    </div>
  </div>
</div>