<div ng-controller="NavbarCtrl">
  <div class="clearfix nav-top-menu">
    <div class="wrapper">
      <ul class="nav-links pull-left">
        <li><a href="">Skip to main content</a></li>
        <li><a href="">Skip to navigation</a></li>
        <li><a href="">Skip to footer</a></li>
      </ul>
      <ul class="offright login-buttons pull-right" ng-hide="currentUser._id">
        <li><a href="https://myplace.ndis.gov.au/ndisstorefront" class="portal-participant"></a></li>
        <li><a href="" ui-sref="login" class="portal-provider"></a></li>
      </ul>
      <ul class="offright pull-right" ng-show="currentUser._id">
        <li>Welcome {{currentUser.name}}<span class="separator"></span><a href="" ng-click="logout()">Logout</a></li>
      </ul>
    </div>
  </div>
  <header role="banner">
    <div id="header-wrapper">
      <div id="logo-link">
        <div class="simple-banner-component">
          <a href="/index.html"><img title="" alt="" src="/assets/images/logo.png"></a>
        </div>
      </div>

      <div class="ndis-region" id="ndis-search">
        <div id="block-search-form" class="block block-search">
          <div class="content">
            <form role="search" action="/search" method="GET" id="search-block-form" accept-charset="UTF-8">
              <div>
                <div class="container-inline">
                  <h2 class="element-invisible">Search form</h2>
                  <div class="form-item form-type-textfield form-item-search-block-form">
                    <label for="edit-search-block-form--2">Search </label>
                    <input title="Enter the terms you wish to search for." placeholder="Search for one or more keywords" id="searchText" name="searchText" value="" size="15" maxlength="128" class="form-text" onkeypress="return handleKeyType(event)" type="text">
                  </div>
                  <div class="form-actions form-wrapper" id="edit-actions">
                    <button id="submitFormButton" name="op" value="Search" class="form-submit" onclick="submitContentSearch(this.form)" type="button"><i class="fa fa-search"></i></button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div id="block-block-51" class="block block-block">
          <div class="content">
            <div class="contact-us">
              <span><i class="fa fa-phone helpline-phone-icon"></i></span>
              <span class="helpline-phone">1800 800 110</span>
              <a href="/about-us/contact-us.html" class="contact-us-button">Contact Us</a>
              <a href="/about-us/locations.html" class="contact-us-button">Our Locations</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="nav-menu clearfix">
    <div class="wrapper">
      <ul class="nav-links">
        <li ng-repeat="page in menu"><a ui-sref="content({id: page.sys.id})">{{page.fields.title['en-US']}}</a></li>
      </ul>
    </div>
  </div>
  <div ng-include="'components/navbar/navbar.search.dashboard.html'" ng-if="!$state.includes('search') && !$state.includes('supportItem') && !$state.includes('login')"></div>
  <div ng-include="'components/navbar/navbar.search.html'" ng-if="$state.includes('search')"></div>

  <div class="home-navbar" ng-if="breadcrumbs">
    <div class="wrapper">
      <ol class="breadcrumb">
        <li ng-repeat="breadcrumb in breadcrumbs"><a ui-sref="breadcrumb.state">{{breadcrumb.title}}</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Providers</a></li>
        <li class="active">Pricing and payment</li>
      </ol>
      <div class="login-signup-buttons pull-right" ng-show="currentUser._id">
        <span>Welcome {{currentUser.name}}<span class="separator"></span><a href="" ng-click="logout()">Logout</a></span>
      </div>
    </div>
  </div>
</div>
