<div class="home-container">
  <div class="home-search-container">
    <div class="home-banner-overlay"></div>
    <div class="home-banner"></div>
    <div class="wrapper form-inline">
      <h3>Support Item Catalog</h3>
      <h4>Search(Leave blank to see all items)</h4>
      <div class="form-group">
        <form ng-submit="$state.go('search', {query: formData.searchQuery})">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="submit"><i class="fa fa-search"></i></button>
            </span>
            <input type="text" ng-model="formData.searchQuery" class="search-input form-control" placeholder="">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>