.support-item-details {
  .support-item-details-title {
    padding-bottom: 30px;
    margin-bottom: 36px;
    line-height: 38px;
    border-bottom: solid 1px #ececec;

    .buttons {
      .btn {
        height: 38px;
      }
    }
  }

  .support-item-image {
    width: 475px;
    height: 325px;
    background-color: #fff;
    vertical-align: middle;
    text-align: center;
    display: table-cell;

    > img {
      max-width: 475px;
      max-height: 325px;
    }
  }

  .support-item-right-block {
    float: left;
    width: 528px;
    padding-left: 25px;

    .support-item-description {
    }

    .support-item-attributes {
      background-color: #fff;
      border-radius: 5px;
      border: solid 1px #ececec;
      margin-top: 25px;
      margin-bottom: 65px;
      table {
        width: 100%;
        background-color: #fff;
        border-radius: 5px;
        tr {
          border-bottom: solid 1px #ececec;
          td {
            padding: 15px 20px;
          }
          td:first-child {
            /*color: red;*/
            position: relative;
            padding-right: 30px;
            &:after {
              position: absolute;
              right: 10px;
              content: ':';
            }
          }
          td + td {
            color: #1f70ae;
          }
        }
        tr:last-child {
          border: none;
        }
      }
    }
  }
}
.support-item-additional-info {
  background-color: #fff;
  padding-top: 45px;
  padding-bottom: 100px;


  .support-item-additional-info-heading {
    padding: 15px 0;
    line-height: 38px;
    .buttons {
      .btn {
        height: 38px;
      }
    }
  }
  .support-item-additional-info-table {
    border-radius: 5px;
    overflow: hidden;
  }
}
