<div class="wrapper">
  <div class="support-item-details">
    <div class="support-item-details-title clearfix">
      <h2 class="pull-left">{{supportItem.fields.title['en-US']}}</h2>
      <div class="buttons pull-right">
        <button class="btn btn-white"><i class="fa fa-print"></i>&nbsp;Print PDF</button>
        <a class="btn btn-green" href="https://app.contentful.com/spaces/{{supportItem.sys.space.sys.id}}/entries/{{supportItem.sys.id}}" target="_blank" ng-if="currentUser.role === 'admin'"><i class="fa fa-pencil"></i>&nbsp;Edit</a>
      </div>
    </div>
    <div class="clearfix">
      <div class="pull-left">
        <div class="support-item-image">
          <img src="assets/images/no_image.png">
        </div>
      </div>
      <div class="support-item-right-block">
        <div class="support-item-description" btf-markdown="supportItem.fields.description['en-US']"></div>
        <div class="support-item-attributes">
          <table>
            <tr>
              <td>Registration Group</td>
              <td>{{supportItem.fields.registrationGroup['en-US']}}</td>
            </tr>
            <tr>
              <td>Support Category</td>
              <td>{{supportItem.fields.category['en-US']}}</td>
            </tr>
            <tr>
              <td>Price Controlled</td>
              <td>{{supportItem.priceControlled| yesNo}}</td>
            </tr>
            <tr>
              <td>Quote Needed</td>
              <td>{{supportItem.fields.quoteNeeded['en-US']| yesNo}}</td>
            </tr>
            <tr ng-show="supportItem.priceControlled">
              <td>Location</td>
              <td>
                <select ng-model="selectedLocation" ng-options="location as location for location in locationOptions" class="form-control"></select>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="support-item-additional-info">
  <div class="wrapper">
    <div class="support-item-additional-info-heading clearfix">
      <h3 class="pull-left">Variants</h3>
      <div class="buttons pull-right" ng-if="currentUser.role === 'admin'">
        <button class="btn btn-green" ng-click="editVariant()"><i class="fa fa-plus-circle"></i>&nbsp;Add variant</button>
      </div>
    </div>
    <div class="panel panel-default" ng-show="variants.length">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Description</th>
          <th>Item Code</th>
          <th ng-if="supportItem.priceControlled">Price Cap</th>
          <!--<th>Locations</th>-->
          <th ng-repeat="variantConfiguration in supportItem.variantConfigurationList">{{variantConfiguration.fields.title['en-US']}}</th>
          <th ng-if="currentUser.role === 'admin'"></th>
        </tr>
        <tr ng-repeat="variant in variants">
          <td>{{variant.description}}</td>
          <td>{{variant.variantId}}</td>
          <td ng-if="supportItem.priceControlled">{{priceData[variant.variantId]|| None}}</td>
          <!--<td>All</td>-->
          <td ng-repeat="variantConfiguration in supportItem.variantConfigurationList">{{variant.attributes[variantConfiguration.fields.title['en-US']]|| '-'}}</td>
          <td ng-if="currentUser.role === 'admin'" class="actions">
            <a href="" ng-click="editVariant(variant)"><i class="fa fa-pencil"></i></a>
            <a href="" ng-click="deleteVariant(variant)"><i class="fa fa-trash"></i></a>
          </td>
        </tr>
      </table>
    </div>
    <div ng-show="supportItem.relatedItems.length">
      <div class="support-item-additional-info-heading clearfix">
        <h3 class="pull-left">Related Items</h3>
        <div class="buttons pull-right" ng-if="currentUser.role === 'admin'">
          <a class="btn btn-green" href="https://app.contentful.com/spaces/{{supportItem.sys.space.sys.id}}/entries/{{supportItem.sys.id}}" target="_blank"><i class="fa fa-plus-circle"></i>&nbsp;Add</a>
        </div>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Registration Group</th>
            <th>Priced</th>
            <th>Quoted</th>
          </tr>
          <tr ng-repeat="item in supportItem.relatedItems">
            <td><a ui-sref="supportItem.details({id: item.sys.id})">{{item.fields.title['en-US']}}</a></td>
            <td>{{item.fields.description['en-US']| substr:true:50}}</td>
            <td>{{item.fields.category['en-US']}}</td>
            <td>{{item.fields.registrationGroup['en-US']}}</td>
            <td>{{item.fields.priceControlled['en-US']| yesNo}}</td>
            <td>{{item.fields.quoteNeeded['en-US']| yesNo}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
