<div class="wrapper">
  <div class="support-item-details">
    <div class="support-item-details-title clearfix">
      <h2 class="pull-left">{{supportItem.fields.title['en-US']}}</h2>
      <div class="buttons pull-right">
        <button class="btn btn-white"><i class="fa fa-print"></i>&nbsp;Print PDF</button>
        <button class="btn btn-green"><i class="fa fa-pencil"></i>&nbsp;Edit</button>
      </div>
    </div>
    <div class="clearfix">
      <div class="pull-left">
        <div class="support-item-image">
          <img src="assets/images/no_image.png">
        </div>
      </div>
      <div class="support-item-right-block">
        <div class="support-item-description" btf-markdown="supportItem.fields.description['en-US']"></div>
        <div class="support-item-attributes">
          <table>
            <tr>
              <td>Registration Group</td>
              <td>{{supportItem.fields.registrationGroup['en-US']}}</td>
            </tr>
            <tr>
              <td>Support Category</td>
              <td>{{supportItem.fields.category['en-US']}}</td>
            </tr>
            <tr>
              <td>Price Controlled</td>
              <td>{{supportItem.fields.priceControlled['en-US']| yesNo}}</td>
            </tr>
            <tr>
              <td>Quote Needed</td>
              <td>{{supportItem.fields.quoteNeeded['en-US']| yesNo}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="support-item-additional-info">
  <div class="wrapper">
    <div class="support-item-additional-info-heading clearfix">
      <h3 class="pull-left">Variants</h3>
      <div class="buttons pull-right">
        <button class="btn btn-green"><i class="fa fa-plus-circle"></i>&nbsp;Add variant</button>
      </div>
    </div>
    <div class="panel panel-default" ng-show="variants.length">
      <table class="table table-bordered table-hover">
        <tr>
          <th>Description</th>
          <th>Item Code</th>
          <th ng-show="supportItem.fields.priceControlled['en-US']">Price Cap</th>
          <th>Locations</th>
          <!--<th>Custom</th>-->
          <!--<th>Type</th>-->
          <!--<th>Size</th>-->
        </tr>
        <tr ng-repeat="variant in variants">
          <td>{{variant.description}}</td>
          <td>{{variant.variantId}}</td>
          <td ng-show="supportItem.fields.priceControlled['en-US']">{{variant.price|| None}}</td>
          <td>All</td>
          <!--<td>None</td>-->
          <!--<td>Standard</td>-->
          <!--<td>Adult</td>-->
        </tr>
      </table>
    </div>
    <div ng-show="supportItem.relatedItems.length">
      <div class="support-item-additional-info-heading clearfix">
        <h3 class="pull-left">Related Items</h3>
        <div class="buttons pull-right">
          <button class="btn btn-green"><i class="fa fa-plus-circle"></i>&nbsp;Add item</button>
        </div>
      </div>
      <div class="panel panel-default">
        <table class="table table-bordered table-hover">
          <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Category</th>
            <th>Registration Group</th>
            <th>Priced</th>
            <th>Quoted</th>
          </tr>
          <tr ng-repeat="item in supportItem.relatedItems">
            <td>{{item.fields.title['en-US']}}</td>
            <td>{{item.fields.description['en-US']| substr:true:50}}</td>
            <td>{{item.fields.category['en-US']}}</td>
            <td>{{item.fields.registrationGroup['en-US']}}</td>
            <td>{{item.fields.priceControlled['en-US']| yesNo}}</td>
            <td>{{item.fields.quoteNeeded['en-US']| yesNo}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
