<div style="font-family: Calibri; font-size: 14px;">

  Hello ${user.name},<br/><br/>


The contingency date ${lead.contingencyEnds} has arrived for the lead at ${formattedLeadAddress}.
If this property has been sold please update the "Sold To" field in the lead details, otherwise you should reduce the price and remarket the lead immediately.
<br/>
<br/>
Lead Details: 
  <a href="${leadDetailsLink}">
    ${formattedLeadAddress}
  </a>

  <br/>
  <br/>All the best,,<br/>
  The 1-888-CASH-OFFER Team<br/><br/>
</div>