<div class="left-sidebar" ng-controller="SidebarCtrl">
  <div class="panel panel-default facets-panel" ng-show="$state.includes('search') && totalFacetsCount > 0">
    <div class="panel-body">
      <ul class="sidenav-links">
        <li ui-sref-active="active"><a ui-sref="search({category: null, registrationGroup: null})">All<span ng-show="totalFacetsCount > 0">&nbsp;({{totalFacetsCount}})</span></a></li>
        <li ng-repeat="facet in searchFacets" ui-sref-active="active">
          <a ui-sref="search({category: facet.urlId, registrationGroup: null})" ng-click="facet.isOpen = true;">{{facet._id}}<span ng-show="facet.count > 0">&nbsp;({{facet.count}})</span></a>
          <ul class="secondLevel" ng-show="facet.isOpen">
            <li ng-repeat="registrationGroup in facet.registrationGroups" ui-sref-active="active"><a ui-sref="search({category: facet.urlId, registrationGroup: registrationGroup.urlId})">{{registrationGroup._id}}<span ng-show="registrationGroup.count > 0">&nbsp;({{registrationGroup.count}})</span></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default" ng-repeat="helpBlock in helpBlocks">
    <div class="panel-heading">{{helpBlock.fields.title['en-US']}}</div>
    <div class="panel-body">
      <ul class="sidenav-links">
        <li ng-repeat="link in helpBlock.links"><a ui-sref="content({id: link.sys.id})">{{link.fields.title['en-US']}}</a></li>
      </ul>
    </div>
  </div>

  <div class="panel panel-default" ng-if="currentUser.role === 'admin'">
    <div class="panel-heading">Admin panel</div>
    <div class="panel-body">
      <ul class="sidenav-links">
        <li ng-class="{active: $state.includes('admin.users')}"><a ui-sref="admin.users.list"><i class="fa fa-user"></i> Users</a></li>
        <!--<li ng-class="{active: $state.includes('admin.supportItem')}"><a ui-sref="admin.supportItem.list"><i class="fa fa-folder-open"></i> Support Items</a></li>-->
        <li ng-class="{active: $state.includes('admin.variant')}"><a ui-sref="admin.variant.list"><i class="fa fa-folder-open"></i> Variants</a></li>
      </ul>
    </div>
  </div>
</div>