.facets-panel {
  ul.sidenav-links li.active > a {
    color: #1f6fae;
  }
  ul.sidenav-links .secondLevel {
    list-style: none;
    padding-left: 20px;
    font-size: 13px;
    padding-top: 3px;
    > li {
      padding: 0 0 5px 0;
    }
  }
}
