<div class="clearfix">
  <h3 class="page-header">Admin: {{supportItem._id? 'Edit' : 'Create'}} Support Item</h3>

  <form class="form" name="supportItemForm" novalidate ng-submit="save()">
    <div class="clearfix" style="padding: 20px;">
      <div class="col-md-6">
        <div class="form-group">
          <label>Description</label>
          <input class="form-control" name="description" type="text" ng-model="supportItem.description">
          <div ng-messages="supportItemForm.description.$error">
            <div ng-messages-include="components/partials/validationMessages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label>Registration Group</label>
          <input class="form-control" name="registrationGroup" type="text" ng-model="supportItem.registrationGroup">
          <div ng-messages="supportItemForm.registrationGroup.$error">
            <div ng-messages-include="components/partials/validationMessages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label>Price Controlled</label>
          <input class="form-control" type="checkbox" ng-model="supportItem.priceControlled" bs-switch switch-on-text="Yes" switch-off-text="No">
          {{supportItem.priceControlled}}
        </div>
        <div class="form-group">
          <label>Quote Needed</label>
          <input class="form-control" type="checkbox" ng-model="supportItem.quoteNeeded" bs-switch switch-on-text="Yes" switch-off-text="No">
        </div>
        <div class="form-group">
          <label>Category</label>
          <input class="form-control" name="category" type="text" ng-model="supportItem.category">
          <div ng-messages="supportItemForm.category.$error">
            <div ng-messages-include="components/partials/validationMessages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label>Outcome</label>
          <input class="form-control" name="outcome" type="text" ng-model="supportItem.outcome">
          <div ng-messages="supportItemForm.outcome.$error">
            <div ng-messages-include="components/partials/validationMessages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label>Purpose</label>
          <input class="form-control" name="purpose" type="text" ng-model="supportItem.purpose">
          <div ng-messages="supportItemForm.purpose.$error">
            <div ng-messages-include="components/partials/validationMessages.html"></div>
          </div>
        </div>
        <div class="form-group">
          <label>Variants</label>
        </div>
      </div>
    </div>

    <div style="margin: 20px 30px;">
      <button type="submit" class="btn btn-primary" ng-disabled="!supportItemForm.$valid">Save</button>
      <a href="javascript:void(0);" class="btn btn-primary" ui-sref="admin.supportItem.list">Cancel</a>
    </div>
  </form>
</div>
