
<!--<script type="text/ng-template" id="explain.node.html">
  <div style="border: solid 1px #eee;">
    <div><b>{{node.value}}</b> {{node.description}}</div>
    <div ng-repeat="details in node.details" ng-if="node.details" ng-include="'explain.node.html'" ng-init="node = details" style="padding-left: 10px;"></div>
  </div>
</script>-->


<div class="wrapper">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
  <div class="main-content">
    <div class="clearfix">
      <div class="filter" ng-show="$stateParams.query">{{searchQuery| substr:true:30}}<button type="button" class="close" ng-click="$state.go('search', {query: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.category && !$stateParams.registrationGroup">Category: {{category| substr:true:30}}<button type="button" class="close" ng-click="$state.go('search', {category: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.category && $stateParams.registrationGroup">Category: {{category| substr:true:30}} -> {{registrationGroup}}<button type="button" class="close" ng-click="$state.go('search', {registrationGroup: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.priceCap">Price Controlled: Yes<button type="button" class="close" ng-click="$state.go('search', {priceCap: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.quote">Quote Needed: Yes<button type="button" class="close" ng-click="$state.go('search', {quote: null})">&times;</button></div>
    </div>
    <div style="position: relative; padding: 30px;" us-spinner ng-show="loading"></div>
    <h3 ng-hide="loading || !count">{{count}} Results found</h3>
    <h3 ng-show="!loading && !count">No Results found</h3>
    <div class="panel panel-search-result" ng-repeat="content in results">
      <!--<div ng-include="'explain.node.html'" ng-init="node = content._explanation"></div>-->
      <div class="panel-heading"><a href="" ui-sref="supportItem.details({id: content._id})" ng-bind-html="(content.highlight['fields.title'] || content._source.fields.title)"></a></div>
      <div class="panel-subheading">
        <span class="support-item-tags"><span ng-show="content._source.fields.tags.length">{{content._source.fields.tags.join(', ')}}, </span>{{content._source.fields.category}}</span>
        <span class="support-item-date">{{content._source.sys.createdAt| date}}</span>
      </div>
      <div class="panel-body" style="word-wrap: break-word;" ng-bind-html="content.highlight['fields.description'] || content._source.fields.description"></div>
      <!--<div class="panel-body" style="word-wrap: break-word;" ng-bind-html="content._source.fields.description"></div>-->
    </div>
    <div st-table st-pipe="tableUpdate">
      <div class="text-center" colspan="5" st-template="components/partials/pagination.html" st-pagination="" st-items-by-page="stTable.itemsPerPage" st-displayed-pages="9"></div>
    </div>
  </div>
</div>
