<div class="wrapper">
  <div ng-include="'components/sidebar/sidebar.html'"></div>
  <div class="main-content">
    <div class="clearfix">
      <div class="filter" ng-show="$stateParams.query">{{searchQuery| substr:true:30}}<button type="button" class="close" ng-click="$state.go('search', {query: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.category && !$stateParams.registrationGroup">Category: {{category| substr:true:30}}<button type="button" class="close" ng-click="$state.go('search', {category: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.category && $stateParams.registrationGroup">Category: {{category| substr:true:30}} -> {{registrationGroup}}<button type="button" class="close" ng-click="$state.go('search', {registrationGroup: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.priceCap">Price Controlled: Yes<button type="button" class="close" ng-click="$state.go('search', {priceCap: null})">&times;</button></div>
      <div class="filter" ng-show="$stateParams.quote">Quote Needed: Yes<button type="button" class="close" ng-click="$state.go('search', {quote: null})">&times;</button></div>
    </div>
    <div style="position: relative; padding: 30px;" us-spinner ng-show="loading"></div>
    <h3 ng-hide="loading || !count">{{count}} Results found</h3>
    <h3 ng-show="!loading && !count">No Results found</h3>
    <div class="panel panel-search-result" ng-repeat="content in results">
      <div class="panel-heading"><a href="" ui-sref="supportItem.details({id: content.sys.id})">{{content.fields.title['en-US']}}</a></div>
      <div class="panel-subheading">
        <span class="support-item-tags"><span ng-show="content.fields.tags['en-US'].length">{{content.fields.tags['en-US'].join(', ')}}, </span>{{content.fields.category['en-US']}}</span>
        <span class="support-item-date">{{content.sys.createdAt| date}}</span>
      </div>
      <div class="panel-body" style="word-wrap: break-word;">{{content.fields.description['en-US']}}</div>
    </div>
    <div st-table st-pipe="tableUpdate">
      <div class="text-center" colspan="5" st-template="components/partials/pagination.html" st-pagination="" st-items-by-page="stTable.itemsPerPage" st-displayed-pages="9"></div>
    </div>
  </div>
</div>
